.container {
  position: relative;
  width: 100%;
}

.input {
  box-sizing: border-box;
  width: inherit;
  height: 48px;
  margin-top: 4px;
  padding-left: 16px;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-dark);

  border-radius: 4px 4px 0 0;
  outline: none;

  transition: all 0.2s linear;

  &::placeholder {
    color: var(--text-dark);
  }

  &_status_default {
    border: 1px solid var(--text-dark);
  }

  &_status_active {
    border: 1px solid var(--input-hover);
  }

  &__label {
    font-family: var(--text-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-dark);
  }

  &__icon {
    cursor: pointer;

    position: absolute;
    z-index: 6;
    top: 43px;
    right: 15px;

    display: block;

    @media (max-width: 414px) {
      display: none;
    }
  }

  &__error {
    display: none;

    &_active {
      display: block;
      font-size: 16px;
      line-height: 24px;
      color: #e90d41;
    }
  }
}

.wrapper_month {
  position: relative;
  z-index: 5;

  overflow-x: hidden;
  overflow-y: auto;
  display: flex;

  padding-top: 3px;
  padding-right: 5px;

  background-color: #f8f8f8;

  transition: all 0.2s linear;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    height: 42px;
    background: var(--placeholder);
    border-radius: 3px;
  }

  &_default {
    height: 0;
    visibility: hidden;
    opacity: 0;
  }

  &_active {
    height: 150px;
    visibility: visible;
    opacity: 1;
  }
}

.wrapper_year {
  position: relative;
  z-index: 5;

  overflow-x: hidden;
  overflow-y: auto;
  display: flex;

  padding-right: 5px;

  background-color: #f8f8f8;

  transition: all 0.2s linear;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    height: 42px;
    background: var(--placeholder);
    border-radius: 3px;
  }

  &_default {
    height: 0;
    visibility: hidden;
    opacity: 0;
  }

  &_active {
    height: 185px;
    visibility: visible;
    opacity: 1;
  }
}

.input_year {
  cursor: pointer;

  width: 68px;
  height: 22px;

  font-size: 14px;
  color: var(--text-dark);

  background-color: #f8f8f8;
  border: none;
  border-radius: 4px;

  &::placeholder {
    color: var(--text-dark);
  }
}

.input_month {
  cursor: pointer;

  width: 100px;
  height: 22px;

  font-size: 14px;
  color: var(--text-dark);

  background-color: #f8f8f8;
  border: none;
  border-radius: 4px;

  &::placeholder {
    color: var(--text-dark);
  }
}

.header {
  display: flex;
  gap: 5px;
  justify-content: center;

  height: 25px;
  padding-top: 5px;

  background-color: white;
}

.calendar {
  overflow: hidden;

  box-sizing: border-box;
  width: 216px;
  height: 187px;
  margin: 0;
  padding: 0;

  font-family: var(--text-font-family);
  font-size: 12px;
  line-height: 16px;

  background-color: white;
  border: 1px solid var(--text-dark);
  border-radius: 4px;
}

.calendar div {
  margin: 1.2px;
}

.list {
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
  list-style: none;

  &__option {
    width: 68px;
    padding-top: 6px;
    padding-bottom: 6px;

    font-size: 14px;
    line-height: 18.2px;
    text-align: start;

    background-color: #f8f8f8;

    transition: all 0.2s linear;

    &:hover {
      cursor: pointer;
      color: white;
      background-color: var(--neon-pink);
    }
  }
}

.button_month {
  position: absolute;

  width: 20px;
  height: 20px;

  border: none;

  transition: all 0.2s linear;

  &:hover {
    cursor: pointer;
  }

  &_default {
    top: 10px;
    right: 17px;
    rotate: 0;
  }

  &_active {
    top: 5px;
    right: 15px;
    rotate: 180deg;
  }
}

.years {
  position: relative;
}

.button_year {
  position: absolute;

  width: 20px;
  height: 20px;

  border: none;

  transition: all 0.2s linear;

  &:hover {
    cursor: pointer;
  }

  &_default {
    top: 4px;
    right: 12px;
    rotate: 0;
  }

  &_active {
    top: 0;
    right: 5px;
    rotate: 180deg;
  }
}
