.text {
  margin: 0;
  padding: 0;

  font-family: "IBM Plex Sans", Arial, Helvetica, sans-serif; // Заменить на переменную. Кто их там делает. Плиз) Предлагаю назвать main-font
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #100c34; // Заменить на переменную. Кто их там делает. Плиз)
}
