{
  "**/*.{js,jsx,ts,tsx}": [
    "prettier --config .prettierrc --write",
    "eslint --fix"
  ],
  "**/*.scss": [
    "prettier --config .prettierrc --write",
    "stylelint --fix"
  ],
  "**/*.html": [
    "prettier --config .prettierrc --write"
  ]
}
