.gallery {
  max-height: calc(100vh - 184px);
  padding: 0 calc((100vw - 1440px) / 2);
  overflow: scroll;
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px 0 40px;
    font: 400 16px/20px "IBM Plex Sans", sans-serif;
  }
  &__students {
    display: grid;
    grid-template-columns: repeat(4, 325px);
    width: 100%;
    column-gap: 20px;
    row-gap: 40px;
    justify-content: center;
    align-items: center;
  }
  &__cities {
    padding: 12px;
    // min-height: 20px;
  }
}
