@import "../../styles/constants";

.main {
  width: inherit;
  margin-top: 55px;
  margin-bottom: 0;
  min-height: 48px;
  display: grid;
  grid-template-columns: 70px 100px 190px 190px 180px 1fr;
  gap: 24px;
  border-bottom: 1px solid var(--placeholder);
  color: var(--placeholder);
  align-items: center;
}
.frames {
  display: grid;
  grid-template-columns: 70px 100px 190px 190px 180px 442px 1fr;
  gap: 24px;
  padding: 12px 0;
  border-bottom: 1px solid var(--placeholder);
}
.frame {
  min-height: 32px;
  font-family: var(--text-font-family);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-dark);
}
.title {
  margin: 0;
  font-family: var(--text-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-dark)
}
.title:first-child{
  color: var(--text-light);
}
.container {
  margin: 48px 0;
  display: grid;
  grid-template-columns: 77px 81px;
  gap: 81px;
}
