@import "../../styles/constants";

.frames {
  display: grid;
  grid-template-columns: 70px 100px 190px 190px 180px 442px 1fr;
  gap: 24px;
  padding: 12px 0;
  border-bottom: 1px solid var(--placeholder);
}
.frame {
  min-height: 32px;
  color: var(--text-dark);
  font: 400 16px/24px var(--text-font-family);
}
