$text-dark: rgba(16, 12, 52, 1);
$text-light: rgba(163, 163, 163, 1);
$input-hover: rgba(102, 102, 102, 1);
$placeholder: rgba(131, 130, 143, 1);
$neon-pink: rgba(255, 0, 168, 1);
$neon-green: rgba(56, 236, 66, 1);
$error: rgba(233, 13, 65, 1)