$text-dark: rgb(16 12 52 / 100%);
$text-light: rgb(163 163 163 / 100%);
$input-hover: rgb(102 102 102 / 100%);
$placeholder: rgb(131 130 143 / 100%);
$neon-pink: rgb(255 0 168 / 100%);
$neon-green: rgb(56 236 66 / 100%);
$error: rgb(233 13 65 / 100%);
$text-font-family: "IBM Plex Sans", arial, helvetica, sans-serif;
