.card {
  position: relative;

  &__image {
    max-width: 325px;
    height: 325px;
    object-fit: cover;
  }

  &__name {
    font-family: var(--text-font-family);
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 28px;
  }

  &__city {
    font-family: var(--text-font-family);
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
  }
}
