.modalComments {
  position: absolute;
  top: 50px;
  left: 0;

  width: 299px;
  min-height: 76px;
  max-height: 251px;
  padding: 12px;

  background-color: #fff;
  border: 1px solid var(--comments-input-border);
  border-radius: 4px;

  &_inactive {
    display: none;
  }

  &__textarea {
    resize: none;

    display: flex;

    box-sizing: border-box;
    width: 100%;
    padding: 8px;

    font: 400 14px/20px var(--text-font-family);

    background-color: var(--text-white);
    border: none;
    border-radius: 4px;
    outline: none;

    &:focus {
      border: 2px solid var(--neon-pink);
    }
  }

  &__reactionBlock {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin-top: 12px;
  }

  &__comment {
    padding: 8px 0;
    font: 400 16px/20px var(--text-font-family);
    border-bottom: 1px solid var(--text-dark);
  }

  @media screen and (max-width: 1110px) {
    width: 316px;
  }
  @media screen and (max-width: 767px) {
    width: 246px;
  }
}
