@import "../../styles/constants";

.main {
  display: grid;
  grid-template-columns: 250px 300px 1fr;
  align-items: center;

  width: inherit;
  min-height: 48px;
  margin-top: 55px;

  color: var(--placeholder);

  border-bottom: 1px solid var(--placeholder);
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 285px;
  gap: 40px;
}

.column {
  margin-left: 8px;
  font-family: var(--text-font-family);
}

.frames {
  display: grid;
  grid-template-columns: 250px 300px 1fr;
  padding: 12px 0;
  border-bottom: 1px solid var(--placeholder);
}

.frame {
  min-height: 32px;

  font-family: var(--text-font-family);
  font-size: 16px;
  line-height: 1.5;

  border: none;
}

.frame:select .cohort {
  width: 80px;
}

.email {
  width: 271px;
}

.student {
  width: 300px;
}

.adder {
  width: 285px;
}

.title {
  margin: 0;
  font-family: var(--text-font-family);
  font-size: 24px;
  font-size: 14px;
  font-weight: 400;
  font-weight: 700;
  font-style: normal;
  line-height: 1.33;
  line-height: 18px;
  color: var(--text-dark);
  text-decoration: none;
  text-transform: uppercase;
}

.text {
  margin: 12px 0 8px;

  font-family: var(--text-font-family);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color: var(--text-dark);
}

.title:nth-child(2) {
  color: var(--text-light);
}

.container {
  display: grid;
  grid-template-columns: 77px 81px;
  gap: 81px;
  margin: 48px 0;
}

.container_input {
  position: relative;
  width: 100%;
}

.input {
  box-sizing: border-box;
  width: inherit;
  height: 48px;
  margin-top: 4px;
  padding-right: 40px;
  padding-left: 16px;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-dark);

  border-radius: 4px;
  outline: none;

  transition: all 0.2s linear;

  &:-webkit-autofill,
  &:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }

  &_status_default {
    border: 1px solid var(--text-dark);
  }

  &_status_active {
    border: 1px solid var(--input-hover);
  }
}

.button {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 17px;
  bottom: 17%;

  border: none;

  transition: all 0.2s linear;

  &:hover{
    cursor: pointer;
    opacity: 0.7;
  }
}

.label {
  width: inherit;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-dark);
}
.title {
  margin: 0;
  font: 700 14px/18px var(--text-font-family);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-dark)
}
.title:nth-child(2) {
  color: var(--text-light);
}
.container {
  margin: 48px 0;
  display: grid;
  grid-template-columns: 77px 81px;
  gap: 81px;
}
.inputfile {
	position: relative;
	display: inline-block;
}
.inputfile span {
	display: inline-block;
	cursor: pointer;
	font-size: 16px;
	background: var(--gradient-button-main);
  background-color: transparent;
  border-radius: 4px;
	height: 44px;
  width: 285px;
	padding: 12px 82px;
	box-sizing: border-box;
	margin: 0;
  font-family: var(--text-font-family);
  color: var(--text-white);

  &:hover{
    background: var(--gradient-button-hover);
  }
  &:active,
  &focus{
    background: var(--gradient-button-active);
  }
}
.inputfile input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}