@import "../../styles/constants";

.main {
  width: inherit;
  margin-top: 55px;
  min-height: 48px;
  display: grid;
  grid-template-columns: 250px 300px 1fr;
  border-bottom: 1px solid var(--placeholder);
  color: var(--placeholder);
  align-items: center;
}
.container {
  display: grid;
  grid-template-columns: 1fr 285px;
  gap: 40px;
}
.column {
  font-family: var(--text-font-family);
  margin-left: 8px;
}
.frames {
  display: grid;
  grid-template-columns: 250px 300px 1fr;
  padding: 12px 0;
  border-bottom: 1px solid var(--placeholder);
}
.frame {
  min-height: 32px;
  font-family: var(--text-font-family);
  font-size: 16px;
  line-height: 1.5;
  border: none;
}
.frame:select .cohort {
  width: 80px;
}
.email {
  width: 271px;
}
.student {
  width: 300px;
}
.adder {
  width: 285px;
}
.title {
  margin: 0;
  font-family: var(--text-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.33;
  color: var(--text-dark);
}
.text {
  font-family: var(--text-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin: 12px 0 8px;
  color: var(--text-dark);
}
