@import "../../styles/constants";

.main {
  width: inherit;
  margin-top: 55px;
  min-height: 48px;
  display: grid;
  grid-template-columns: 250px 300px 1fr;
  border-bottom: 1px solid var(--placeholder);
  color: var(--placeholder);
  align-items: center;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 285px;
  gap: 40px;
}
.column {
  font-family: var(--text-font-family);
  margin-left: 8px;
}

.adder {
  width: 285px;
}
.title {
  margin: 0;
  font-family: var(--text-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.33;
  color: var(--text-dark);
}
.text {
  font-family: var(--text-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin: 12px 0 8px;
  color: var(--text-dark);
}
.title {
  margin: 0;
  font-family: var(--text-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-dark)
}
.title:nth-child(2) {
  color: var(--text-light);
}
.container {
  margin: 48px 0;
  display: grid;
  grid-template-columns: 77px 81px;
  gap: 81px;
}
