.container {
  width: 440px;
  margin: 0 auto 150px;

  @media (max-width: 525px) {
    width: 90%;
  }

  @media (max-width: 414px) {
    width: 272px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.wrapper {
  margin-bottom: 0;
}
