.h {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
}

.p {
  font-family: 'IBM Plex Sans';
  font-weight: 500;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  min-height: 72px;
  background-color: red;
}